body{
  background-color: #D0D0D0;
  background-image:url();
  background-repeat:repeat-x ;
}

a{
color:#df4839;
}
a:hover{
  color:#ff705b;
  text-decoration: none;
}

img{
  max-width: 100%;
  height:auto;
}

p{
  font-size: 25px;
  color:#6c6c6c;
}
.h{
  padding:10px;
  margin-bottom: 30px;
  border:1px dotted#D0D0D0;
  border-left: 10px solid #D0D0D0;
  color:#8E8E8E; 
  border-radius: 5px 0 0 5px;
}
.h-sub{
  font-weight:normal;
  padding:10px;
  background-color: #d2e8ff;
  color:#818181;
}
.h-sub span{
  font-weight:bold;
}
#contents{
  box-sizing:border-box;
  max-width:1200px;
  margin:40px auto;
  padding:4% 8%;
  background-color: #f0f0f0;
}
.navbar {
    padding: 0;
  }
.top {
    background-color: rgb(2, 120, 255);
}
.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  .navbar a, .navbar a:focus {
    display: flex;      
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    margin-left: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
    transition: 0.1s;
  }
  
  .navbar a:hover, .navbar .active:focus {
    background: rgba(255, 255, 255, 0.2);
  }
