<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>中壢美食推薦</title>
    <link rel="icon" href="/static/image/dish.png" type="image/x-icon">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="../static/css/website.css" rel="stylesheet">
</head>

<body>
    <header class="fixed-top header-transparent">
        <nav class="navbar top">
            <div class="container d-flex ">
                <a class="navbar-brand" href="http://127.0.0.1:5000"><img src="/static/image/dish.png" alt="Logo" width="30px"> 中壢美食介紹</a>
                    <ul>
                        <li class="nav-link scrollto">
                            <a class="nav-link" href="intro"> 簡介</a>
                        </li>
                        <li class="nav-link scrollto">
                            <a class="nav-link" href="service">服務介紹</a>
                        </li>
                        <li class="nav-link scrollto">
                            <a class="nav-link" href="team">團隊成員</a>
                        </li>
                    </ul>
            </div>
        </nav>
    </header>

    

    <section id="intro">
        <h2 class="h">中央大學網路小幫手</h2>
        <p>
        幫你解決你的網路問題，無論是網路註冊問題、網路無法連線，還是網路訊號不穩，
        網路小精靈都能幫你解決，如果無法解決，那我們還有強大的網管團隊(?)幫你解決。<br>
        
        此機器人會通過詳細的流程幫你排查你的網路問題到底是由何種情況產生的，究竟是外設問題、
        MAC輸錯、學校問題，還是網管的錯呢，讓我們繼續看下去
        </p>
    </section>
    
    <section id="team">
        <h2 class="h">團隊成員</h2>
        <p>
        我們是中央大學各系大二的學生<br>
        </p>
    </section>
    
</body>
</html>